@page "/acerca"
<Nabvar />
<div class="card" style="width: 300px; margin: auto;">
    <div class="card-header">
        Acerca de
    </div>
    <div class="card-body">
        <div class="custom-col">
            <p class="card-text text-center">Jenry Jose Sanchez Hodge</p>
            <p class="card-text text-center">2023-1080</p>

            <img src="image.png" class="rounded-circle" width="200" height="200" style="margin: auto;" />
        </div>
    </div>
</div>


<style>
    .custom-col {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
</style>